.article{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   gap: 3rem;
   padding: 1.5rem;
   align-items: center;
   min-height: 60vh;
   text-align: center;
}

.article__header{
   font-size: clamp(2rem, 3vw, 2rem);
}

.article__text{
   font-size: clamp(.8rem, 2vw, 1.1rem);
}

.article__commentsSectionTitle {
   font-weight: 100;
   border-top: thin solid gray;
   padding-top: .5rem;
}

.article__header::first-letter,
.article__text::first-letter {
   text-transform: uppercase;
}

.article__buttons{
   display: flex;
   gap: 2rem;
}

@media (hover: none) {
   .article__buttons {
      flex-direction: column;
   }
}