.article{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 3rem;
   min-width: auto;
   min-height: 50vh;
   padding: 2rem 3rem;
   color: inherit;
   box-shadow: 4px 4px 10px 1px rgba(193, 189, 189, 0.54);
   border-radius: 5%;
   transition: .3s ease-in-out;
}

.article__text{
   font-size: .8rem;
   line-height: 145%;
   text-align: justify;
}

.article__header {
   text-align: center;
   font-size: 1.2rem;
   letter-spacing: 2px;
}

.article:hover{
   box-shadow: 4px 4px 10px 1px rgba(36, 35, 35, 0.54);
}

@media (hover: none) {
   .article{
      box-shadow: none;
      border-radius: 0;
      border-bottom: 1px solid rgba(36, 35, 35, 0.54);
      border-top: 1px solid rgba(36, 35, 35, 0.54);
   }
}