.footer{
   padding: 3rem 1rem;
   font-weight: 700;
   color: inherit;
   text-align: center;
   font-size: clamp(.6rem, 5vw, 1.5rem);
}

.footer--link{
   color:#f89e03;
   text-decoration: none;
   transition: .3s ease-in;
   letter-spacing: 1px;
}
.footer--link:visited {
   color:#f89e03;
}
.footer--link:hover {
   color:#F7997D;
}