.blog {
   margin: 6rem, 6rem, 0, 6rem;
   display: grid;
   grid-template-rows: auto 1fr auto;
   justify-content: center;
   gap: 3rem;
   min-height: 100vh;
   margin-top: 5vh;
}

.blog__header{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header__logo{
   text-align: center;
   font-family: Beattingvile;
   font-size: clamp(6rem, 6vw, 8rem);
   padding: 5rem 0;
}

.blog__section{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 5rem;
}