@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

@font-face {
   font-family: 'Beattingvile';
   src: url('./assets/fonts/Beattingvile.otf') format('otf'),
      url('./assets/fonts/Beattingvile.woff') format('woff');
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --textColor: #22161C;
   --backgroundColor: #F2F1EF;
   font-family: 'Poppins', sans-serif;
   line-height: 150%;
   color: var(--textColor);
   background-color: var(--backgroundColor);
}